/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';
@import './common/scss/normalize.scss';
@import './common/scss/iconfont.scss';

body {
  position: relative;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    'PingFang SC', 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei',
    'Microsoft JhengHei', 'Source Han Sans SC', 'Noto Sans CJK SC',
    'Source Han Sans CN', 'Noto Sans SC', 'Source Han Sans TC',
    'Noto Sans CJK TC', 'WenQuanYi Micro Hei', SimSun, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
  background: #021524;
  // background-image: linear-gradient(to right, #080e13 0%, #021524 100%);
  user-select: none;

}
#app {
  background: #021524;
  color: #ebebeb !important;
}
::-webkit-scrollbar {
  width: 8px;
  background: #021524;
}

/* 定义滑块
    内阴影+圆角 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(144, 147, 153, 0.4);
}
.icon-love {
  color: #f92e58 !important;
}
.app-spinBox {
  position: relative;
  height: calc(100vh - 80px);
  min-height: 300px;
  overflow-y: scroll;
  padding: 20px;
}
